# RK widget test

Generate some random time series.

In [1]:
import pandas as pd
import numpy as np

n = 100
df = pd.DataFrame(zip(range(n), np.random.rand(n).tolist()), columns=['index', 'value']).set_index('index')
df.tail()

          value
index
95     0.168829
96     0.976177
97     0.083747
98     0.107851
99     0.339654

Import `Smoother` class that renders the provided time series and optionally applies moving average with a configurable window.

In *DHARPA* context this would be a step in a workflow.

In [2]:
from rk_test_widget import Smoother

In [3]:
s1 = Smoother(df)
s1

Smoother(x=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, …

The output of the `Smoother` instance is a copy of the original dataframe with smoothing applied.
We can verify that this dataframe changes whenever we drag the slider above.

In [6]:
s1.output.tail()

          value
index
95     0.454725
96     0.564960
97     0.447416
98     0.432446
99     0.345969

The original dataframe is not changed to make sure we keep data immutable.

In [7]:
df.tail()

          value
index
95     0.168829
96     0.976177
97     0.083747
98     0.107851
99     0.339654

We can add another `Smoother` step that will be applied to the output of the previous step to smooth it even more. 

In *DHARPA* context this would be another step in a workflow.

In [9]:
s2 = Smoother(s1.output)
s2

Smoother(x=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, …

In [10]:
s2.output.tail()

          value
index
95     0.520481
96     0.521683
97     0.511010
98     0.499883
99     0.493897